mixin nav(className, items, activeItem, type)
	nav(class=`${className}`)
		each item, path in items			
			li(class=(activeItem === item.name) ? `${className}__item active`: `${className}__item`)
				a(class=`${className}__link`, href=`${item.url}`)= item.title

		if type == 'mobile'
			ul.topline__share
				li.topline__share__list Поделиться:
					ul.topline__share-inner
						li.topline__share-inner__list
							a(href="#" class="topline__share-inner__link YouTube")
						li.topline__share-inner__list
							a(href="#" class="topline__share-inner__link t")
						li.topline__share-inner__list
							a(href="#" class="topline__share-inner__link instagram")
						li.topline__share-inner__list
							a(href="#" class="topline__share-inner__link google")
						li.topline__share-inner__list
							a(href="#" class="topline__share-inner__link twitter")


mixin popup()
	.popup
		+sliderZoomPopup()
		.popup__content
			.popup__content__left 
				span 14.Х.2011
			.popup__content__right
				.popup__content__title Праздник в городе. Тенденции развития в оформлении городской среды.
					span Журнал «Московские торги»
				.popup__content__text Рыба текста про проект, примерно такая как в протопите. Основоп- олагающий принцип работы «Эдлайн» – индивидуальный, комплексный поход крешению каждой задачи. Универсальный штат опытных сотрудников позволяет компанииработать с проектами по каждому из направлений: концепция, проект, реализация, эксплуатация.
				.popup__content__text Поход крешению каждой задачи. Универсальный штат опытных сотрудников позволяет компанииработать с проектами по каждому из направлений: концепция, проект, реализация, эксплуатация.
				.popup__content__comment Особо важная фраза, цитата. Мход крешению каждой задачи. Универсальный штат опытных сотрудников позволяет компании работать с проектами по каждому из направлени концепция, проект, реальность!
				.popup__content__text Поход крешению каждой задачи. Универсальный штат опытных сотрудников позволяет мход крешению каждой задачи. Универсальный штат опытных сотрудников позволяет компанииработать с проектами по каждому из направлений: концепция, проект, реализация, ксплуатация. панииработать с проектами по каждому из направлений: концепция, проект, реализация, эксплуатация.  
					span |  Журнал «Московские торги». №4 от 15.Х.2018

		div.link-article
			a(href="#", class="link-article__inner link-article__inner--black") Открыть PDF
						i.icon-angle-right-black
