mixin nav(className, items, activeItem)
	nav(class=`${className}`)
		each item, path in items			
			li(class=(activeItem === item.name) ? `${className}__item active`: `${className}__item`)
				a(class=`${className}__link`, href=`${item.url}`)= item.title

