footer.footer
	.window__inner
		span(class="progress wow fadeInLeft" data-wow-offset="70" data-wow-duration="2s" data-wow-delay="1s")
		div(class="footer__top wow fadeIn" data-wow-offset="100" data-wow-delay="1.9s")
			.footer__top__copy Эдлайн &copy; #{year}
			.footer__top__right
				span.footer__top__share
				span.footer__top__right__language EN
			nav.footer__top__menu
				ul.footer__top__items
					li.footer__top__list
						a(href="#", class="footer__top__link") Вода и ландшафт
					li.footer__top__list
						a(href="#", class="footer__top__link") Дизайн и свет
					li.footer__top__list
						a(href="#", class="footer__top__link") Ивенты
				ul.footer__top__items
					li.footer__top__list
						a(href="#", class="footer__top__link") О компании
					li.footer__top__list
						a(href="#", class="footer__top__link") Пресс-центр
					li.footer__top__list
						a(href="#", class="footer__top__link") Контакты
	.footer__bottom
		.window__inner
			.footer__bottom__inner
				.footer__bottom__adress
					div.footer__bottom__margin ООО «Эдлайн»
					div 127055, г. Москва, ул. Образцова, д. 7
				.footer__bottom__right
					.footer__bottom__contacts
						div.footer__bottom__margin
							a(href="tel:+74956811698", class="footer__bottom__link") +7 (495) 681-16-98, 
							a(href="tel:+74956813606", class="footer__bottom__link") 681-36-06, 
							a(href="tel:+74955021736", class="footer__bottom__link") 502-17-36
						div
							a(href="mailto::adline@adline.ru", class="footer__bottom__link") adline@adline.ru
					.footer__bottom__social
						div.footer__bottom__margin
							a(href="", class="footer__bottom__social-link") Facebook
						div
							a(href="", class="footer__bottom__social-link") Вконтакте
				div.footer__bottom__back &#8195;