mixin headers(title)
	.bg
	.header__drop.js-drop
		div
			span
			span
			span
	+nav('topline', nav, title, 'mobile')
	header.header
		a(href="/", class="header__logo")
		.header__right
			+nav('header__nav', nav, title)
			.header__share.js-share
				ul.header__share-inner
					li.header__share-inner__list
						a(href="#" class="header__share-inner__link YouTube")
					li.header__share-inner__list
						a(href="#" class="header__share-inner__link t")
					li.header__share-inner__list
						a(href="#" class="header__share-inner__link instagram")
					li.header__share-inner__list
						a(href="#" class="header__share-inner__link google")
					li.header__share-inner__list
						a(href="#" class="header__share-inner__link twitter")
			.header__language
				span en

