mixin sliderIndex()
	.fnc-slider.example-slider
		.fnc-slider__slides
		.fnc-slide.m--active-slide
			.fnc-slide__inner
				.fnc-slide__image
				.fnc-slide__bottom
				.fnc-slide__content
					h2.fnc-slide__heading
						.fnc-slide__title вода и
						.fnc-slide__title ландшафт
					.fnc-slide__text Палитра хорошего
					.fnc-slide__text настроения городской жизни
					a(href="#", class="fnc-slide__btn") смотреть категорию
						i.icon-angle-right-white
		.fnc-slide
			.fnc-slide__inner
				.fnc-slide__image
				.fnc-slide__bottom
				.fnc-slide__content
					h2.fnc-slide__heading
						.fnc-slide__title наш
						.fnc-slide__title дизайн
					.fnc-slide__text Палитра хорошего
					.fnc-slide__text настроения городской жизни
					a(href="#", class="fnc-slide__btn") смотреть категорию
						i.icon-angle-right-white
		.fnc-slide
			.fnc-slide__inner
				.fnc-slide__image
				.fnc-slide__bottom
				.fnc-slide__content
					h2.fnc-slide__heading
						.fnc-slide__title ивенты и
						.fnc-slide__title мероприятия
					.fnc-slide__text Палитра хорошего
					.fnc-slide__text настроения городской жизни
					a(href="#", class="fnc-slide__btn") смотреть категорию
						i.icon-angle-right-white
		.fnc-nav
			.fnc-nav__bgs
				.fnc-nav__bg.m--active-nav-bg
				.fnc-nav__bg
				.fnc-nav__bg
			.fnc-nav__controls
				span.fnc-nav__control
					span.fnc-nav__control-progress
				span.fnc-nav__control
					span.fnc-nav__control-progress
				span.fnc-nav__control
					span.fnc-nav__control-progress