@mixin bigger() {
  @media screen and (min-width: 1920px) {
    @content;
  }
}
@mixin big() {
  @media screen and (max-width: 1120px) {
    @content;
  }
}
@mixin average() {
  @media screen and (max-width: 868px) {
    @content;
  }
}

@mixin tablets() {
  @media screen and (max-width: 779px) {//768
    @content;
  }
}

@mixin phones() {
  @media screen and (max-width: 480px) {
    @content;
  }
}

$mainColor: #1e1e1e;
$mainFont: 15px;
$colorLink: #606060;
$footerBg: $mainColor;
$progressColor: $mainColor;
$progressColorGrey: #f6f6f6;
$minWidth: 768px;

@import "layout/fonts";
@import "layout/main";
@import "layout/animate";

@import "block/**/*.scss";

@import "layout/icon";
