html {
  height: 100%;
}

body {
  margin: 0;
  line-height: 1;
  font-size: $mainFont;
  height: 100%;
  font-family: 'GothamPro', sans-serif;
  background-color: #fff;
  color: $mainColor;

  &.hidden {
    overflow: hidden;
  }
}
header, section, footer, aside, nav, main, article, figure {
  display: block;
}
*, *:before, *:after {
  box-sizing: border-box;
}
h1,h2,h3,h4,h5 {
  margin: 0 0 15px 0;
  font-weight: bold;
}
ul {
  padding: 0;
  margin: 0;
  list-style: 0;
}
p {
  margin: 0 0 15px 0;
}
.main {
  flex: 1;
  display: flex;
}

.conteiner {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  background-color: #fff;
  //padding: 0 50px;
  max-width: 1280px;
  min-width: $minWidth;



  @media screen and (min-width: 1920px) {
    @include bigger() {
      transform: scale(1.4) translateY(14%);
    }
  }

  @include phones(){
    min-width: 100%;
  }
}
.window__inner {
  padding: 0 85px;
  margin: auto;
  position: relative;

  @include tablets(){
    padding: 0 51px;
  }
}

.content {
  flex: 1 1 auto;
}

.clear {
  clear: both;
  height: 15px;
}
.bg {
  background: #fff;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top left;
  background-size: auto 100%;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.link-article {
  text-align: center;


  &__inner {
    color: $colorLink;
    text-decoration: none;
    font-size: 20px;
    font-family: 'GothamPro-Medium';
    display: inline-block;

    i {
      position: relative;
      top: -2px;
      left: 5px;

      @include tablets(){
        top: -1px;
        left: 2px;
      }
      @include phones(){
        top: -2px;
        left: 5px;
      }
    }

    &:after {
      content: " ";
      display: block;
      width: 100%;
      background: #afafaf;
      height: 1px;
    }

    &:hover {
      &:after {
        background: transparent;
      }
    }

    @include tablets(){
      font-size: 12px;
    }

    @include phones(){
      font-size: 14px;
    }
  }

  @include phones(){
    text-align: left;
  }
}

.progress {
  display: block;
  height: 3px;
  //margin-top: 14px;
  background: $progressColor;

  @include tablets(){
    height: 2px;
  }
}