extends ../main.layout.pug
include ../block/slider.pug
include ../block/header.pug

block title
	title О компании

block content
	+headers('about')
	+popup()

	main
		.content
			article
				.overview-top
					.window__inner
						.overview-top__title О компании
						.overview-top__text Группа компаний «Эдлайн» успешно работает в сфере дизайна городской среды, праздничного оформления, выполнения проектных и строительно-монтажных работ по благоустройству территории и устройству инженерных сетей, фонтанов и малых архитектурных форм более 20 лет.

				.stick.window__inner
					.stick__left
						.stick__left__inner.js-slick
							.simple-slider-two
								.simple-slider-two__wrap.js-sliders
									.simple-slider-two__list
										a(href="image/simple-slide-1-big.jpg" class="simple-slider-two__inner")
											img(src="image/simple-slide-1.jpg" class="simple-slider-two__image")
											span(href="#", class="simple-slider-two__link js-slider-link-left")
												i.icon-chevron-left
											span(href="#", class="simple-slider-two__link js-slider-link-right")
												i.icon-chevron-right
										.simple-slider-two__title Благодарственное письмо за участие в подготовке московской области к празднованию 70-летию победы в Великой отечественной войне
									.simple-slider-two__list
										a(href="image/simple-slide-2-big.jpg" class="simple-slider-two__inner")
											img(src="image/simple-slide-2.jpg" class="simple-slider-two__image")
											span(href="#", class="simple-slider-two__link js-slider-link-left")
												i.icon-chevron-left
											span(href="#", class="simple-slider-two__link js-slider-link-right")
												i.icon-chevron-right
										.simple-slider-two__title Российский национальный приз в области дизайна «Виктория»
									.simple-slider-two__list
										a(href="image/simple-slide-3-big.jpg" class="simple-slider-two__inner")
											img(src="image/simple-slide-3.jpg" class="simple-slider-two__image")
											span(href="#", class="simple-slider-two__link js-slider-link-left")
												i.icon-chevron-left
											span(href="#", class="simple-slider-two__link js-slider-link-right")
												i.icon-chevron-right
										.simple-slider-two__title Национальная премия в области флористики и ландшафтного дизайна «Цветок успеха»
					.stick__right
						p Основополагающий принцип работы «Эдлайн» – индивидуальный, комплексный поход к решению каждой задачи. Универсальный штат опытных сотрудников позволяет компании работать с проектами по каждому из направлений: концепция, проект, реализация, эксплуатация.
						p Коллектив компании «Эдлайн» имеет большой опыт в разработке и реализации концепций светового и праздничного оформления города. Активно осваивая зарубежный опыт, специалисты компании старались адаптировать его для российских городов, опираясь на отечественные традиции. Большое внимание в сфере оформления городских территорий специалисты компании уделяют тематическим праздникам. Стоит отметить, что комплексный подход включает в себя не только единую концепцию оформления города, но и программу реализации на несколько лет.
						p Располагая собственной проектной и производственной базой, компания «Эдлайн» в состоянии выполнить заказ с высоким качеством и в кратчайшие сроки. Разработанное в компании и запатентованное уникальное программное обеспечение позволяет автоматизировать процесс расчета гидропластических решений различной сложности. Специалисты «Эдлайн» ориентируются на передовые отечественные и международные технологии строительства фонтанов, применяют инженерное оборудование, комплектующие, расходные материалы от ведущих мировых производителей и оригинальное оборудование собственной конструкции, что позволяет реализовать различные технически сложные проекты. Компания обладает авторскими правами на ряд изобретений и конструкторских решений в области инженерии, которые значительно повышают качественные показатели проектов.
						p ГК «Эдлайн» не только трансформирует городскую среду, но также является автором крупных ивент-событий с участием иностранных специалистов – от разработки идеи и концепции до организации. Московские международные фестивали света, впервые в истории проведенные в столице (Круг света, Рождественский свет) – яркий пример успешной деятельности компании.
						p Используя все свои возможности и опыт, компания «Эдлайн» непосредственно участвует в формировании городской политики в сфере средового дизайна.
						p За весомый вклад в оформление столицы архитекторы и дизайнеры «Эдлайн» награждены премией Москвы в области архитектуры и искусства, специалистам компании четырежды присвоено звание лауреата премии «Виктория» Союза Дизайнеров России.


						div.link-article
							a(href="/projects.html", class="link-article__inner") Смотреть проекты
								i.icon-angle-right-gray
