extends ../main.layout.pug
include ../block/slider.pug
include ../block/header.pug

block title
	title Наш дизайн

block content	
	+headers('design')

	.content
		article
			.overview-top
				.window__inner
					.overview-top__title наш дизайн

					.designer
						.designer__title(href="#", class="wow fadeIn" data-wow-delay="0.5s") Наши дизайнеры:
						.designer__items
							.designer__item
								a(href="#", class="wow fadeIn" data-wow-delay="1.0s")
									img(src="image/designers.jpg" class="designer__image")
								a(href="#" class="designer__name")
									span(class="wow fadeIn", data-wow-delay="1.0s") Шарипов Булат
									span(class="progress wow fadeIn", data-wow-delay="1.0s")
								.designer__bottom(class="wow fadeIn", data-wow-delay="1.0s")
									a(href="#" class="designer__social icon-1")
									a(href="#" class="designer__social icon-facebook")
									a(href="#" class="designer__social icon-instagram")
									a(href="#" class="designer__social icon-2")
							.designer__item
								a(href="#", class="wow fadeIn" data-wow-delay="1.5s")
									img(src="image/designers.jpg" class="designer__image")
								a(href="#" class="designer__name")
									span(class="wow fadeIn", data-wow-delay="1.5s") Сягов Андрей
									span(class="progress wow fadeIn", data-wow-delay="1.5s")
								.designer__bottom(class="wow fadeIn", data-wow-delay="1.5s")
									a(href="#" class="designer__social icon-instagram")
									a(href="#" class="designer__social icon-2")
							.designer__item
								a(href="#", class="wow fadeIn" data-wow-delay="2.0s")
									img(src="image/designers.jpg" class="designer__image")
								a(href="#" class="designer__name")
									span(class="wow fadeIn", data-wow-delay="2.0s") Слемзин Константин
									span(class="progress wow fadeIn", data-wow-delay="2.0s")
								.designer__bottom(class="wow fadeIn", data-wow-delay="2.0s")
									a(href="#" class="designer__social icon-1")
									a(href="#" class="designer__social icon-facebook")
									a(href="#" class="designer__social icon-instagram")


			.articlle-vertical.window__inner.g-margin-bottom-85
				div(class="articlle-vertical__title")
					span(class="wow fadeIn", data-wow-offset="30" data-wow-delay="3s") Проекты
					span(class="progress wow fadeInLeft" data-wow-offset="10" data-wow-delay="1.5s" data-wow-duration="2s")
				
				.articlle-vertical__items
					a(href="project.html", class="articlle-vertical__item wow fadeIn" data-wow-offset="100" data-wow-delay="0.5s")
						span(class="articlle-vertical__image-wrap")
							img(src="image/1.jpg", class="articlle-vertical__image")
						.articlle-vertical__name Фигуры в центре Москвы к Новому году 2018
					a(href="project.html", class="articlle-vertical__item wow fadeIn" data-wow-offset="100" data-wow-delay="1.0s")
						span.articlle-vertical__image-wrap
							img(src="image/2.jpg", class="articlle-vertical__image")
						.articlle-vertical__name Правильное название объекта дизайна
					a(href="project.html", class="articlle-vertical__item wow fadeIn" data-wow-offset="100" data-wow-delay="1.5s")
						span.articlle-vertical__image-wrap
							img(src="image/3.jpg", class="articlle-vertical__image")
						.articlle-vertical__name Правильное название объекта дизайна
				.articlle-vertical__items
					a(href="project.html", class="articlle-vertical__item wow fadeIn" data-wow-offset="100" data-wow-delay="0.5s")
						span(class="articlle-vertical__image-wrap")
							img(src="image/1.jpg", class="articlle-vertical__image")
						.articlle-vertical__name Фигуры в центре Москвы к Новому году 2018
					a(href="project.html", class="articlle-vertical__item wow fadeIn" data-wow-offset="100" data-wow-delay="1.0s")
						span.articlle-vertical__image-wrap
							img(src="image/2.jpg", class="articlle-vertical__image")
						.articlle-vertical__name Правильное название объекта дизайна
					a(href="project.html", class="articlle-vertical__item wow fadeIn" data-wow-offset="100" data-wow-delay="1.5s")
						span.articlle-vertical__image-wrap
							img(src="image/3.jpg", class="articlle-vertical__image")
						.articlle-vertical__name Правильное название объекта дизайна
				.articlle-vertical__items
					a(href="project.html", class="articlle-vertical__item wow fadeIn" data-wow-offset="100" data-wow-delay="0.5s")
						span(class="articlle-vertical__image-wrap")
							img(src="image/1.jpg", class="articlle-vertical__image")
						.articlle-vertical__name Фигуры в центре Москвы к Новому году 2018
					a(href="project.html", class="articlle-vertical__item wow fadeIn" data-wow-offset="100" data-wow-delay="1.0s")
						span.articlle-vertical__image-wrap
							img(src="image/2.jpg", class="articlle-vertical__image")
						.articlle-vertical__name Правильное название объекта дизайна
					a(href="project.html", class="articlle-vertical__item wow fadeIn" data-wow-offset="100" data-wow-delay="1.5s")
						span.articlle-vertical__image-wrap
							img(src="image/3.jpg", class="articlle-vertical__image")
						.articlle-vertical__name Правильное название объекта дизайна
				.articlle-vertical__items.articlle-vertical__items--bottom
					a(href="project.html", class="articlle-vertical__item wow fadeIn" data-wow-offset="100" data-wow-delay="0.5s")
						span(class="articlle-vertical__image-wrap")
							img(src="image/1.jpg", class="articlle-vertical__image")
						.articlle-vertical__name Фигуры в центре Москвы к Новому году 2018
					a(href="project.html", class="articlle-vertical__item wow fadeIn" data-wow-offset="100" data-wow-delay="1.0s")
						span.articlle-vertical__image-wrap
							img(src="image/2.jpg", class="articlle-vertical__image")
						.articlle-vertical__name Правильное название объекта дизайна
					a(href="project.html", class="articlle-vertical__item wow fadeIn" data-wow-offset="100" data-wow-delay="1.5s")
						span.articlle-vertical__image-wrap
							img(src="image/3.jpg", class="articlle-vertical__image")
						.articlle-vertical__name Правильное название объекта дизайна

				div.link-article
					a(href="#", class="link-article__inner wow fadeIn" data-wow-offset="50" data-wow-delay="2.0s") Загрузить еще
						i.icon-angle-right-gray
