extends ../main.layout.pug
include ../block/slider.pug
include ../block/header.pug

block title
	title Наш дизайн

block content	
	+headers('design')

	main.main
		.content
			article
				.window__inner
					.filter
						.filter__title Участие в проекте:
						ul.filter__items
							li.filter__item
								a(href="#" class="filter__link") Разработка концепции
							li.filter__item
								a(href="#" class="filter__link") Дизайн-проект
							li.filter__item
								a(href="#" class="filter__link") Проектирование
							li.filter__item
								a(href="#" class="filter__link") Подбор оборудования
							li.filter__item
								a(href="#" class="filter__link") Строительство
							li.filter__item
								a(href="#" class="filter__link") Монтаж оборудования
							li.filter__item
								a(href="#" class="filter__link") Пуско-наладочные работы
							li.filter__item
								a(href="#" class="filter__link") Гарантийное обслуживание
							li.filter__item
								a(href="#" class="filter__link") Организация мероприятий
							li.filter__item
								a(href="#" class="filter__link") Творческая концепция
							li.filter__item
								a(href="#" class="filter__link") Художественное сопровождение


				.articlle-realty.window__inner
					div(class="articlle-realty__title")
						span(class="wow fadeIn" data-wow-offset="100" data-wow-delay="0.5s") Еще проекты
						span(class="progress wow fadeInLeft" data-wow-offset="70" data-wow-duration="2s")

					.articlle-realty__items
						a(href="#", class="articlle-realty__item-big wow fadeIn" data-wow-offset="100" data-wow-delay="0.7s")
							span.articlle-realty__inner
								span(class="articlle-realty__image-big-wrap" style="background-image: url(../image/6.jpg);")
								.articlle-realty__name Фонтан на Крымской набережной 
									br
									| в парке Музеон
						.articlle-realty__wrap
							a(href="#", class="articlle-realty__item wow fadeIn" data-wow-offset="100" data-wow-delay="1.0s")
								span.articlle-realty__inner
									span(class="articlle-realty__image-wrap" style="background-image: url(../image/7.jpg);")
									.articlle-realty__name Светомузыкальный фонтан в Царицыно
							a(href="#", class="articlle-realty__item wow fadeIn" data-wow-offset="100" data-wow-delay="1.2s")
								span.articlle-realty__inner
									span(class="articlle-realty__image-wrap" style="background-image: url(../image/8.jpg);")
									.articlle-realty__name ММФС «Круг света»
							a(href="#", class="articlle-realty__item wow fadeIn" data-wow-offset="100" data-wow-delay="1.4s")
								span.articlle-realty__inner
									span(class="articlle-realty__image-wrap" style="background-image: url(../image/9.jpg);")
									.articlle-realty__name.articlle-realty__name--small Праздничное оформление города Москвы к Новому Году 2013-2015 г.

					.articlle-realty__items.articlle-realty__items--last
						.articlle-realty__wrap.articlle-realty__wrap--right
							a(href="#", class="articlle-realty__item wow fadeIn" data-wow-offset="10" data-wow-delay="1.6s")
								span.articlle-realty__inner
									span(class="articlle-realty__image-wrap" style="background-image: url(../image/10.jpg);")
									.articlle-realty__name Цикл фестивалей «Московские сезоны»
							a(href="#", class="articlle-realty__item wow fadeIn" data-wow-offset="10" data-wow-delay="1.8s")
								span.articlle-realty__inner
									span(class="articlle-realty__image-wrap" style="background-image: url(../image/11.jpg);")
									.articlle-realty__name ММФС «Рождественский свет»
							a(href="#", class="articlle-realty__item wow fadeIn" data-wow-offset="10" data-wow-delay="2.0s")
								span.articlle-realty__inner
									span(class="articlle-realty__image-wrap" style="background-image: url(../image/12.jpg);")
									.articlle-realty__name.articlle-realty__name--small Светомузыкальный фонтан в ЦПКиО им. М. Горокого
						a(href="#", class="articlle-realty__item-big wow fadeIn" data-wow-offset="10" data-wow-delay="2.2s")
							span.articlle-realty__inner
								span(class="articlle-realty__image-big-wrap" style="background-image: url(../image/13.jpg);")
								.articlle-realty__name ММДЦ «Москва-Сити»
					div.link-article
						a(href="#", class="link-article__inner wow fadeIn" data-wow-offset="10" data-wow-delay="2.4s") Загрузить еще
							i.icon-angle-right-gray
				
