.articlle-vertical {
  padding-bottom: 85px;

  @include tablets() {
    padding-bottom: 50px;
  }

  &__title {
    font-size: 20px;
    font-family: 'GothamPro-Medium';
    //border-bottom: 3px solid $progressColor;
    //padding-bottom: 17px;
    margin-bottom: 55px;

    .progress {
      margin-top: 17px;

      @include tablets(){
        margin-top: 11px;
      }

      @include phones(){
        margin-top: 22px;        
      }
    }

    @include bigger(){
      font-size: 3vh;
    }

    @include tablets(){
      font-size: 12px;
      margin-bottom: 32px;
    }

    @include phones(){
      font-size: 16px;      
      margin-bottom: 26px;
    }
  }

  &__items {
    display: flex;
    flex-direction: row;
    margin-right: -32px;
    margin-bottom: 55px;

    @include tablets(){
      margin-right: -22px;
      margin-bottom: 44px;
    }

    @include phones(){
      flex-direction: column;
      margin-bottom: 7px;
      width: 100%;
    }

    &--bottom {
      margin-bottom: 78px;
    }
  }

  &__item {
    text-decoration: none;
    margin-right: 32px;
    flex: 1 1 auto;
    overflow: hidden;

    @include tablets(){
      margin-right: 22px;
    }

    @include phones(){
      margin-right: 0;
    }
  }

  &__image-wrap {
    display: block;
    max-height: 363px;
    //min-height: 218px;
    overflow: hidden;
    margin-bottom: 16px;
    position: relative;

    @include bigger(){
      height: 50vh;
      max-height: 400px;
      min-height: 363x;
    }

    @include tablets() {
      max-height: 218px;
      margin-bottom: 10px;
    }

    @include phones(){
      max-height: none;
      min-height: 302px;
      margin-bottom: 18px;
    }

    &:after {
      position: absolute;
      content: "";
      display: block;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      transition: all .9s ease;
      background: rgba(#fff,0);
    }

    &:hover {
      &:after {
        background: rgba(#fff,0.4);
      }
    }
  }

  &__image {
    // max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(-50%);
    left: 50%;
    position: relative;

    @include bigger(){
      max-height: 50vh;
    }

    @include phones(){
      width: 100%;
    }
  }

  &__name {
    width: 70%;
    color: $mainColor;
    line-height: 1.4;

    @include bigger(){
      font-size: 2vh;
    }

    @include tablets(){
      font-size: 9px;
    }

    @include phones(){
      font-size: 12px;
      margin-bottom: 24px;
    }
  }

  &__sub-title {
    margin-bottom: 3px;
  }

  &__date {
    font-family: 'GothamPro-Medium';
    color: $mainColor;
    padding-right: 10px;
  }
}