.designer {
  margin-bottom: 42px;

  @include tablets(){
    margin-bottom: 22px;
  }

  @include phones(){
    margin-bottom: 12px;
  }

  &__title {
    font-size: 35px;
    margin-bottom: 63px;
    font-family: 'GothamPro-Bold';

    @include tablets(){
      font-size: 20px;
      margin-bottom: 43px;
    }

    @include phones(){
      font-size: 16px;
      margin-bottom: 43px;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    display: flex;
    padding-right: 11%;
    flex-direction: column;
    margin-bottom: 40px;

    @include tablets(){
      padding-right: 5%;
    }
    @include phones(){
      padding-right: 20px;
      margin-bottom: 24px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__image {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    text-decoration: none;
    margin-bottom: 18px;

    @include phones(){
      width: 128px;
      height: 128px;
      margin-bottom: 12px;
    }
  }
  
  &__name {
    text-decoration: none;
    font-family: "GothamPro-Medium";
    font-size: 20px;
    color: $mainColor;
    //padding-bottom: 10px;
    margin-bottom: 24px;
    //border-bottom: 3px solid $progressColor;
    white-space: nowrap;

    .progress {
      margin-top: 10px;

      @include tablets(){
        margin-top: 8px;
      }
    }

    @include tablets(){
      //border-bottom: 2px solid $progressColor;
      font-size: 10px;
      margin-bottom: 12px;
      //padding-bottom: 8px;
    }

    @include phones(){
      font-size: 14px;
      margin-bottom: 18px;
    }
  }

  &__bottom {
    white-space: nowrap;

    @include tablets(){
      display: flex;
      justify-content: space-between;
    }
  }

  &__social {
    margin-right: 29px;

    @include tablets(){}
    @include phones(){
      margin-right: 10px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}