.filter {
  &__title {
    color: #d8d8d8;
    font-family: 'GothamPro-Bold';
    font-size: 35px;
    margin-bottom: 57px;

    @include tablets(){
      font-size: 20px;
    }
  }

  &__items {
    font-family: "GothamPro-Medium";
    font-size: 0;
    margin-bottom: 20px;
  }

  &__item {
    display: inline-block;
    margin: 0 63px 53px 0;

    @include big() {
      margin: 0 50px 41px 0;
    }

    @include tablets() {
      margin: 0 50px 35px 0;
    }

    @include phones() {
      display: block;
      margin: 0 0 7px 0;
    }
  }

  &__link {
    font-size: 20px;
    text-decoration: none;
    color: $mainColor;
    border-bottom: 3px solid #d6d6d6;
    padding-bottom: 16px;

    @include big() {
      font-size: 16px;
      padding-bottom: 14px;
    }

    @include average() {
      font-size: 13px;
      padding-bottom: 14px;
    }

    @include tablets() {
      font-size: 16px;
      padding-bottom: 10px;
    }

    @include phones() {
      font-size: 14px;
      border-bottom: 2px solid #d6d6d6;
      padding-bottom: 8px;
      display: block;
    }

    &.active {
      border-color: $mainColor;
    }
  }
}