$heightSlider: 594px;
$heightSliderT: 663px;
$heightSliderM: 450px;
$heightSliderB: 80vh;
.fnc-sliders {
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  height: $heightSlider;

  @include bigger(){
    //max-height: 630px;
    min-height: $heightSlider;
    max-height: 750px;
    height: $heightSliderB;
  }

  @include tablets(){
    height: $heightSliderT;
  }

  @include phones(){
    height: $heightSliderM;
  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6px;
    z-index: 1;
    background: white;

    @include phones() {
      height: 5px;
    }
  }
}
.fnc-slides {
  height: $heightSlider;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  transform: translate3d(0, 0, 0);

  @include bigger(){
    //max-height: 630px;
    min-height: $heightSlider;
    max-height: 750px;
    height: $heightSliderB;
  }

  @include tablets(){
    height: $heightSliderT;
  }

  @include phones(){
    height: $heightSliderM;
  }

  &__slides {
    position: relative;
    height: 100%;
    transition: -webkit-transform 1s 0.66667s;
    transition: transform 1s 0.66667s;
  }

  &__inner {
    display: none;
    position: relative;
    height: 100%;
  }

  &__image {
    background-position: center top;
    transform: translate3d(0, 0, 0);
    //height: 862px;
    height: 100%;
    min-height: 862px;
    background-size: auto 862px;

    @include bigger(){
      min-height: 1062px;
      background-size: 100vw auto;
    }
    @include phones() {
      height: 718px;
    }
  }
  &__bottom {
    position: absolute;
    left: 0;
    bottom: 6px;
    width: 100%;
    height: 40%;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */

    @include phones(){
      height: 50px;
    }
  }

  &__content {
    //display: none;
    z-index: 2;
    position: absolute;
    left: 85px;
    bottom: 40px;

    @include tablets(){
      bottom: 50px;
      left: 35px;
    }

    @include phones() {
      left: 5%;
      right: 5%;
      text-align: center;
      bottom: 30px;
      text-align: center;
      bottom: 30px;
      display: flex;
      flex-direction: column;
      height: 400px;
      justify-content: space-between;
    }
  }
  
  &__heading-wrap {
    position: relative;

    @include phones() {
      order: 3;
      height: 200px;
    }
  }

  &__heading-hidden {
    position: absolute;
    left: 0;
    z-index: 1;

    @include phones() {
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__heading {
    //display: none;
    text-transform: inherit;
    background-position: -80px -105px;
    background-repeat: no-repeat;
    background-size: auto 862px;
    position: relative;
    z-index: 2;
    -webkit-background-clip: text;
    -o-background-clip: text;
    -ms-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -o-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-fill-color: transparent;

    @include bigger(){
      background-size: 100vw 862px;
    }

    @include phones() {
      margin-bottom: 115px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    /*@include phones() {
      display: block;
      text-fill-color: none;
      background-clip: none;
      background: none;
    }*/
  }

  &__title {
    padding-right: 20px;
    text-transform: uppercase;
    font-size: 106px;
    color: rgba(255, 255, 255, 0.7);
    word-spacing: 10px;
    font-family: 'GothamPro-Black';
    line-height: 1.2;
    white-space: nowrap;

    @include bigger(){
      font-size: 8vw;
    }

    @include phones() {
      font-size: 66px;
      text-align: left;
    }

    &:nth-child(2){
      margin-bottom: 19px;
    }
  }

  &__text {
    padding-right: 20px;
    font-size: 35px;
    color: #fff;
    word-spacing: 10px;
    font-family: 'GothamPro-Bold';
    line-height: 1.2;

    @include bigger(){
      font-size: 2vw;
    }

    @include phones() {
      font-size: 18px;
      text-align: left;
      order: 1;
      // position: absolute;
      // top: -91px;
    }

    &:nth-child(3){
      margin-bottom: 40px;

      @include phones() {
        // top: -69px;
        order: 2;
      }
    }
  }
  
  &__btn {
    font-family: 'GothamPro-Medium';
    font-size: 15px;
    padding: 18px 70px;
    display: inline-block;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 40px;

    @include tablets(){
      font-size: 9px;
      margin-top: 70px;
      padding: 12px 43px;
    }

    @include phones() {
      font-size: 10px;
      margin-top: 0px;
      padding: 14px 50px;
      order: 4;
      margin: 0 22px;
    }

    i {
      left: 3px;
      top: -2px;

      @include phones() {
        top: -1px;
        width: 7px;
        height: 4px;
      }


      &:before {
        @include phones() {
          left: -1px;
        }
      } 
    }
  }

}
.fnc-slide.m--before-sliding {
  z-index: 2 !important;
  transform: translate3d(100%, 0, 0);
}
.fnc-slide.m--active-slide {
  z-index: 1;
}
.m--global-blending-active .fnc-slide__inner, .m--blend-bg-active .fnc-slide__inner {
  background-blend-mode: luminosity;
}
.m--active-slide .fnc-slide__image {
  animation: bg 7s linear infinite;

  @include bigger(){
    animation: bgB 7s linear infinite;
  }

  @include tablets(){
    animation: bgT 7s linear infinite;
  }

  @include phones(){
    animation: bg 7s linear infinite;
  }
}
.m--active-slide .fnc-slide__heading {
  animation: bg2 7s linear infinite;
  display: block;
}
.m--active-slide .fnc-slides__inner {
  display: block;

  //@include phones(){
  //  display: flex;
  //}
}
.credits-active .example-slider {
  transform: translate3d(-400px, 0, 0) rotateY(10deg) scale(0.9);
}
.example-slider .fnc-slide-1 .fnc-slide__image {
  background-image: url("../image/assets/1.png");
}
.example-slider .fnc-slide-1 .fnc-slide__heading {
  background-image: url("../image/assets/1-1.png");
}
.example-slider .fnc-slide-2 .fnc-slide__image {
  background-image: url("../image/assets/2.png");
}
.example-slider .fnc-slide-2 .fnc-slide__heading {
  background-image: url("../image/assets/2-2.png");
}
.example-slider .fnc-slide-3 .fnc-slide__image {
  background-image: url("../image/assets/3.png");
}
.example-slider .fnc-slide-3 .fnc-slide__heading {
  background-image: url("../image/assets/3-3.png");
}
.example-slider .fnc-slide-4 .fnc-slide__image {
  background-image: url("../image/assets/4.jpg?1");
}
.example-slider .fnc-slide-4 .fnc-slide__heading {
  background-image: url("../image/assets/4-4.jpg?1");
}
.example-slider .fnc-slide__heading,
.example-slider .fnc-slide__action-btn,
.example-slider .fnc-nav__control {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.fnc-nav {
  z-index: 5;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100vw;  

  @include tablets() {
    width: 100%;  
  }

  &__bgs {
    z-index: -1;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    &.m--nav-bg-before {
      z-index: 2 !important;
      transform: translateX(100%);
    }

    &.m--active-nav-bg {
      z-index: 1;
      transition: transform 1s 0.66667s;
      transform: translateX(0);
    }
  }

  &__controls {
    font-size: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 85px 38px 0;

    @include tablets(){
      padding-right: 65px;
    }

    @include phones() {
      justify-content: center;
      padding: 0 0 12px;
    }
  }
  &__control {
    overflow: hidden;
    display: inline-block;
    width: 13px;
    height: 13px;
    border: 2px solid #fff;
    background: inherit;
    cursor: pointer;
    transition: background-color 0.5s;
    margin-left: 20px;
    outline: none;
    border-radius: 50%;

    &.m--active-control {
      background: white;
    }

    @include bigger(){
      width: 15px;
      height: 15px;
    }

    @include tablets(){
      width: 15px;
      height: 15px;
      margin-left: 32px;
    }

    @include phones() {
      width: 10px;
      height: 10px;
    }
  }

  &__control-progress {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6px;
    background: #1e1e1e;
    transform-origin: 0 50%;
    transform: scaleX(0);
    transition-timing-function: linear !important;

    @include phones() {
      height: 4px;
    }
  }
}
.m--with-autosliding .m--active-control .fnc-nav__control-progress {
  transform: scaleX(1);
}
.m--prev-control .fnc-nav__control-progress {
  transform: translateX(100%);
  transition: transform 0.5s !important;
}
.m--reset-progress .fnc-nav__control-progress {
  transform: scaleX(0);
  transition: transform 0s 0s !important;
}
.m--autosliding-blocked .fnc-nav__control-progress {
  transition: all 0s 0s !important;
  transform: scaleX(0) !important;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .example-slider .fnc-slide .fnc-slide__heading {
    background: none;
    -webkit-text-fill-color: none;
  }
}


@keyframes bg {
  from {
    transform: translateY(-244px);//274
  }

  to {
    transform: translateY(0px);
  }
}
@keyframes bgT {
  from {
    transform: translateY(-155px);//274
  }

  to {
    transform: translateY(0px);
  }
}
@keyframes bgB {
  from {
    transform: translateY(-255px);//274
  }

  to {
    transform: translateY(0px);
  }
}
@keyframes bg2 {
  from {
    background-position: -80px -255px;
  }

  to {
    background-position: -80px -355px;
  }
}