.footer {
  @include big(){
    font-size: 14px;
  }

  @include tablets(){
    font-size: 9px;
  }  

  &__top {
    //border-top: 3px solid $progressColor;
    padding: 33px 0 15px 0;
    font-family: "GothamPro-Medium";
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    @include tablets(){
      padding: 21px 0 12px 0;
    }

    @include phones(){
      font-size: 12px;
      padding: 21px 0 1px 0;
    }

    &__copy {
      flex: 1 1 198px;

      @include tablets(){
        flex: 1 1 121px;
      }
    }

    &__right {
      order: 3;
      padding-right: 8px;

      @include tablets(){
        padding-right: 5px;
      }

      @include phones(){
        order: 2;
        margin-bottom: 38px;
        padding-right: 0;
      }
    }

    &__language {
     @include phones(){
        position: relative;
        top: -2px;
      }
    }

    &__menu {
      order: 2;
      flex: 1 1 475px;
      display: flex;

      @include tablets(){
        flex: 1 1 285px;
      }

      @include phones(){
        order: 3;
      }
    }

    &__items {
      list-style-type: none;

      &:nth-child(1){
        width: 58%;
      }

      @include phones(){
         width: 55%;
      }
    }

    &__link {
      color: $mainColor;
      text-decoration: none;
    }

    &__share {
      width: 17px;
      height: 18px;
      background: url(../image/share-top.png) no-repeat;
      cursor: pointer;
      background-size: contain;
      display: inline-block;
      margin: -4px 30px 0 0;
      position: relative;
      top: 3px;

      @include big(){
      }
      @include tablets(){
        width: 10px;
        height: 11px;
        margin-right: 18px;
      }
      @include phones(){
      }
    }

    &__list {
      margin-bottom: 22px;

      @include tablets(){
        margin-bottom: 12px;
      }

      @include phones(){
        margin-bottom: 16px;        
      }
    }
  }



  &__bottom {
    background: $footerBg;
    color: #fff;
    padding: 23px 0 30px;

    @include tablets(){
      padding: 16px 0 25px;
    }

    @include phones(){
      font-size: 8px;
      padding-top: 14px;
    }

    &__inner {
      display: flex;
      flex-direction: row;
    }

    &__adress {
      flex: 1 1 198px;

      @include tablets(){
        flex: 1 1 146px;
      }
      @include phones(){
        flex: 1 1 242px;
        padding-right: 25px;
        line-height: 1.3;
      }
    }

    &__right {
      display: flex;
      flex-direction: row;
      flex: 1 1 475px;

      @include tablets(){
        flex: 1 1 285px;
      }

      @include phones(){
        flex-direction: column;
        flex: 1 1 232px;
      }
    }

    &__back {
      width: 75px;

      @include phones(){
        display: none;
      }
    }

    &__link {
      color: #fff;
      text-decoration: none;
    }

    &__contacts {
      width: 58%;

      @include tablets(){
        width: 62%;
      }
      @include phones(){
        margin-bottom: 20px;
        line-height: 1.5;
      }
    }

    &__social-link {
      color: #fff;
      text-decoration: none;

      &:after {
        content: " ";
        display: block;
        width: 100%;
        background: #444444;
        height: 1px;
      }

      &:hover {
        &:after {
          background: transparent;
        }
      }

      @include phones(){
        display: inline-block;
      }
    }

    &__margin {
      margin-bottom: 10px;

      @include tablets(){
        margin-bottom: 5px;
      }
    }
  }
}