.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 14px 87px 14px 85px ;
  font-family: "GothamPro-Medium";
  font-size: 15px;
  //box-shadow: 0 60px 70px 0 rgba(0,0,0,.4);
  z-index: 2;

  @include big(){
    font-size: 14px;
    padding: 14px 5vw;
  }
  @include average(){
    font-size: 12px;
  }

  @include tablets() {
    padding: 9px 5vw;
    font-size: 9px;
  }
  @include phones(){
    padding: 14px 5vw;
  }

  &__logo {
    width: 159px;
    height: 43px;
    background: url("../image/logo.svg") no-repeat;
    background-size: contain;

    @include bigger(){
      width: 14vw;
      height: 6vh;
      min-height: 43px;
    }

    @include tablets() {
      width: 95px;
      height: 26px;
    }

    @include phones() {
      width: 159px;
      height: 43px;
    }
  }

  &__right {
    display: flex;
    flex-direction: row;
    align-items: center;

    @include phones(){
      display: none;
    }
  }

  &__nav {
    list-style-type: none;

    &__item {
      font-size: 0;
      display: inline-block;
      margin-left: 42px;

      @include big(){
        margin-left: 2vw;
      }
      @include phones(){
       margin-left: 27px;
      }
    }

    &__link {
      text-decoration: none;
      color: $mainColor;
      font-size: 15px;

      @include bigger(){
        font-size: 1vw;
      }

      @include big() {
        font-size: 14px;
      }

      @include average() {
        font-size: 12px;
      }

      @include tablets() {
        font-size: 9px;
      }
    }
  }

  &__share {
    margin-left: 23px;
    cursor: pointer;
    background-size: contain;
    position: relative;
    padding: 34px 30px 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    &.active {
      box-shadow: 0 3px 30px 0 rgba(0,0,0,.3);

      .header__share-inner {
        display: flex;
      }
    }

    @include big(){
      margin-left: 20px;
      padding: 34px 25px 0;
    }

    @include average(){
      padding: 34px 20px 0;
    }

    @include tablets(){
      width: 10px;
      height: 11px;
      padding: 34px 15px 0;

    }
    @include phones(){
     margin-left: 24px;
    }
    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background: url("../image/share-top.png") no-repeat;
      background-size: 17px 18px;
      background-position: center center;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;

      @include tablets(){
        background-size: 10px 11px;
      }
    }

    &:after {
      content: "";
      height: 100%;
      display: block;
      background: white;
      position: absolute;
      bottom: -3px;
      left: 0;
      width: 100%;
    }
  }

  &__share-inner {
    display: none;
    position: absolute;
    top: 35px;
    right: 0;
    transform: translateX(25%);
    background: #fff;
    min-width: 50px;
    border-radius: 5px;
    padding: 8px 15px;
    box-shadow: 0 7px 40px 0 rgba(0,0,0,.4);

    &__list {
      font-size: 0;
      margin-right: 7px;

      &:last-child {
        margin-right: 0;
      }
    }

    &__link {
      width: 40px;
      height: 40px;
      display: inline-block;

      &.YouTube {
        background-image: url('../image/YouTube.svg');
        background-size: cover;
      }

      &.t {
        background-image: url('../image/t.svg');
        background-size: cover;
      }

      &.instagram {
        background-image: url('../image/instagram.svg');
        background-size: cover;
      }

      &.google {
        background-image: url('../image/google.svg');
        background-size: cover;
      }

      &.twitter {
        background-image: url('../image/twitter.svg');
        background-size: cover;
      }
    }
  }

  &__language {
    margin-left: 12px;
    text-transform: uppercase;

    @include bigger(){
      font-size: 1vw;
    }

    @include big(){
      margin-left: 2vw;
    }
    @include phones(){
     margin-left: 15px;
    }
  }

  &__drop {
    cursor: pointer;
    display: none;
    position: fixed;
    right: 20px;
    top: 23px;
    background-color: #7e7e7e;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    transition: 0.4s ease-in-out;
    z-index: 10;

    @include phones(){
      display: block;
    }

    &[data-rule="active"] {
      animation: drop 0.3s forwards;
    }

    div {
      transform: rotate(0deg);
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    span {
      display: block;
      background-color: #fff;
      width: 23px;
      height: 2px;
      margin: 2px 0 4px;
      transition: 0.5s;

      &.open:nth-child(1) {
        transform: rotate(45deg) translate(7px, 6px);
      }

      &.open:nth-child(2) {
        transform: rotate(-45deg) translate(-1px, 1px);
      }

      &.open:nth-child(3) {
        opacity: 0;
      }
    }
  }

  @keyframes drop {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(30px);
    }
    100% {
      transform: translateY(10px);
    }
  }
}
