.overview-top {
  background: rgb(246,246,246);
  background: linear-gradient(to bottom, rgba(246,246,246,1) 0%,rgba(244,244,244,1) 44%,rgba(245,245,247,1) 44%,rgba(244,244,244,1) 44%,rgba(244,244,244,1) 47%,rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0 );
  padding: 58px 0 10px;
  position: relative;

  @include bigger(){
    font-size: 1vw;
  }

  @include phones() {
    padding-top: 73px;
  }

  &:before {
    @include phones() {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      height: 30px;
      width: 100%;
      background: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.25) 1%,rgba(0,0,0,0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73000000', endColorstr='#00000000',GradientType=0 )
    }
  }

  &__title {
    font-family: "GothamPro-Black";
    font-size: 106px;
    text-transform: uppercase;
    color: #d8d8d8;
    margin-bottom: 64px;
    padding-left: 7%;

    @include bigger(){
      font-size: 7vw;
    }

    @include big() {
      font-size: 80px;
    }

    @include average() {
      font-size: 78px;
    }

    @include tablets() {
      font-size: 80px;
    }

    @include phones() {
      font-size: 36px;
      margin-bottom: 22px;
      padding-left: 0;
    }
  }

  &__text {
    font-family: "GothamPro-Medium";
    font-size: 20px;
    margin-bottom: 70px;
    padding-left: 15%;
    line-height: 1.4;

    @include phones() {
      font-size: 18px;
    }

    @include phones() {
      padding-left: 0;
      font-size: 16px;
      margin-bottom: 20px;
    }
  }

  &__tab {
    font-family: "GothamPro-Bold";
    display: flex;
    margin: 0;
    list-style-type: none;
    margin-bottom: 75px;

    @include tablets() {
      margin-bottom: 50px;
    }

    @include phones(){
      flex-direction: column;
      margin-bottom: 20px;
    }

    &__list {
      padding-right: 54px;
      margin: 0;

      @include phones() {
        margin-bottom: 14px;
        padding-right: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }

    &__link {
      font-size: 35px;
      color: #d8d8d8;
      text-decoration: none;

      @include big(){
        font-size: 20px;
      }
      @include tablets() {
        font-size: 16px;
      }

      &.active {
        color: $mainColor;
      }
    }
  }


  &__filter {
    display: none;
    margin: 0 0 20px 0;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;

    @include phones() {
      display: flex;
    }

    &__list {
      margin: 0;
    }

    &__link {
      font-size: 14px;
      text-decoration: none;
      color: $mainColor;
      border-bottom: 2px solid #d6d6d6;
      padding-bottom: 16px;
      padding-bottom: 8px;
      padding-right: 25px;

      &.active {
        border-color: $mainColor;
      }
    }
  }


  &__wrap {
    padding-left: 15%;
    line-height: 1.4;


    @include phones() {
      font-size: 14px;
    }

    @include phones() {
      padding-left: 0;
      font-size: 12px;
    }

    &__title {
      font-size: 20px;
      margin-bottom: 20px;

      @include phones() {
        font-size: 18px;
      }

      @include phones() {
        padding-left: 0;
        font-size: 16px;
      }
    }

    &__text {
      margin-bottom: 75px;

      @include tablets(){
        margin-bottom: 50px;
      }

      @include phones(){
        margin-bottom: 25px;
      }
    }
  }
}