.popup {
  position: absolute;
  max-width: 967px;
  width: 90%;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  z-index: 50;
  min-height: 500px;
  padding-bottom: 65px;
  display: none;

  .slideshow {
    margin-bottom: 0;
  }

  &__content {
    padding: 40px 60px 60px;
    display: flex;
    flex-direction: row;

     @include phones(){
      flex-direction: column;
    }

    &__left {
      font-family: 'GothamPro-Bold';
      font-size: 35px;
      padding-right: 50px;
      padding-top: 7px;

      @include phones(){
        margin-bottom: 15px;
      }
    }

    &__title {
      font-family: 'GothamPro-Medium';
      font-size: 19px;
      margin-bottom: 50px;
      line-height: 1.3;

       @include phones(){
        font-size: 17px;
      }
    }

    &__text {
      margin-bottom: 25px;
      text-indent: 35px;
      line-height: 1.5;

      @include phones(){
        margin-bottom: 20px;
      }
    }

    &__comment {
      font-family: 'GothamPro-Medium';
      border-top: 3px solid $progressColor;
      border-bottom: 3px solid $progressColor;
      padding: 17px 35px 20px;
      margin-bottom: 50px;
      line-height: 1.7;

      @include phones(){
        padding: 17px 0 20px;
        margin-bottom: 20px
      }
    }
  }

  .link-article {

    @include phones(){
      text-align: center;
    }

  }
}