.stick {
  display: flex;
  flex-direction: row;

  @include tablets(){
    flex-direction: column;
  }

  .is_stuck {
    @include tablets(){
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .link-article {
    padding-top: 48px;
  }

  &__left {
    margin-right: 33px;

    &__inner {
      width: 369px;
      margin: auto;
      overflow: hidden;
    }
  }

  &__right {
    margin-bottom: 75px;
    p {
      margin-bottom: 22px;
      line-height: 1.4;
      text-indent: 35px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}