.topline {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  overflow-y: scroll;
  flex-direction: column;
  list-style-type: none;
  align-items: flex-start;
  line-height: 2;
  font-weight: normal;
  padding: 5rem 0 3rem 2rem;
  font-size: 1.5rem;
  text-transform: capitalize;
  z-index: 8;
  height: 100%;
  background: #fff;
  transition: 0.3s;
  transform: translateX(100%);
  display: none;

  @include phones() {
    display: flex;
  }

  &__item {
    list-style-type: none;
    padding: 0;

    &.active {
      font-weight: bold;
    }
  }

  &__link {
    color: $mainColor;
    text-decoration: none;
  }

  &__share {
    padding-top: 50px;
    list-style-type: none;

    &__list {
      position: relative;
    }
  }

  &__share-inner {
    display: flex;
    position: absolute;
    top: 35px;
    left: 0;
    //transform: translateX(25%);
    background: #fff;
    min-width: 50px;
    border-radius: 5px;
    padding-top: 10px;

    &__list {
      font-size: 0;
      margin-right: 7px;

      &:last-child {
        margin-right: 0;
      }
    }

    &__link {
      width: 40px;
      height: 40px;
      display: inline-block;

      &.YouTube {
        background-image: url('../image/YouTube.svg');
        background-size: cover;
      }

      &.t {
        background-image: url('../image/t.svg');
        background-size: cover;
      }

      &.instagram {
        background-image: url('../image/instagram.svg');
        background-size: cover;
      }

      &.google {
        background-image: url('../image/google.svg');
        background-size: cover;
      }

      &.twitter {
        background-image: url('../image/twitter.svg');
        background-size: cover;
      }
    }
  }

}
.topline[data-rule="open"] {
  //display: block;
  transform: translateX(0%);
}
